<script src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/vendors/popper/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/vendors/bootstrap/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/vendors/anchorjs/anchor.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/vendors/is/is.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/vendors/swiper/swiper-bundle.min.js"> </script>
        <script src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/vendors/typed.js/typed.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/vendors/fontawesome/all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/vendors/lodash/lodash.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
        <script src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/vendors/list.js/list.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/js/theme.js"></script>