    <!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="bg-dark pt-5 pb-4 light">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <p class="text-500"><b>Liu Purnomo</b> adalah personal blog yang membahas tentang drone, pemetaan, IT, Programming dan aktivitas personal.
                  <br>
                  <br> Email : <a class="text-warning" href="mailto:drone.or.id@gmail.com">drone.or.id@gmail.com</a>
                  <br> Phone : <a class="text-warning" href="tel:+62811319191">081-131-9191</a>
                </p>
                <div class="icon-group mt-4">
                  <a class="icon-item bg-white text-facebook" href="https://facebook.com/leonsps"><span class="bi bi-facebook"></span></a>
                  <a class="icon-item bg-white text-twitter" href="https://twitter.com/liupurnomo"><span class="bi bi-twitter"></span></a>
                  <a class="icon-item bg-white text-google-plus" href="#!"><span class="bi bi-google"></span></a>
                  <a class="icon-item bg-white text-linkedin" href="https://github.com/liu-purnomo"><span class="bi bi-github"></span></a>
                  <a class="icon-item bg-white" href="https://www.instagram.com/liupurnomo/"><span class="bi bi-instagram"></span></a></div>
              </div>
              <div class="col ps-lg-6 ps-xl-8">
                <div class="row mt-5 mt-lg-0">
                  <div class="col-6 col-md-4">
                    <h5 class="text-uppercase text-white opacity-85 mb-2">Liu Purnomo</h5>
                    <ul class="list-unstyled">
                      <li class="mb-1"><a class="link-500" href="/about">About</a></li>
                      <li class="mb-1"><a class="link-500" href="/contact">Contact</a></li>
                      <li class="mb-1"><a class="link-500" href="/term">Terms</a></li>
                      <li class="mb-1"><a class="link-500" href="/privacy">Privacy</a></li>
                      <li class="mb-1"><a class="link-500" href="/media-kit">Media Kit</a></li>
                      <li class="mb-1"><a class="link-500" href="/docs">Docs</a></li>
                      <li class="mb-1"><a class="link-500" href="/change-log">Changelog</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md-4">
                    <h5 class="text-uppercase text-white opacity-85 mb-2">Products</h5>
                    <ul class="list-unstyled">
                      <li class="mb-1"><a class="link-500" href="/blog">Blog</a></li>
                      <li class="mb-1"><a class="link-500" href="/product">Product</a></li>
                      <li class="mb-1"><a class="link-500" href="/training">Course</a></li>
                      <li class="mb-1"><a class="link-500" href="/price-list">Pricing</a></li>
                    </ul>
                    <h5 class="text-uppercase text-white opacity-85 mb-2">Pages</h5>
                    <ul class="list-unstyled">
                      <li class="mb-1"><a class="link-500" href="/lowongan">Lowongan</a></li>
                      <li class="mb-1"><a class="link-500" href="/event">Event</a></li>
                      <li class="mb-1"><a class="link-500" href="/support">Support</a></li>
                    </ul>
                  </div>
                  <div class="col mt-4 mt-md-0">
                    <div class="row">
                      <div class="col-6 col-md-12">
                        <h5 class="text-uppercase text-white opacity-85 mb-2">List Of</h5>
                        <ul class="list-unstyled">
                          <li class="mb-1"><a class="link-500" href="/remote-pilot">List Remote Pilot</a></li>
                          <li class="mb-1"><a class="link-500" href="/toko-drone">List Penjual Drone</a></li>
                          <li class="mb-1"><a class="link-500" href="/jasa-drone">List Perusahaan Drone</a></li>
                          <li class="mb-1"><a class="link-500" href="/bengkel-drone">List Bengkel Drone</a></li>
                          <li class="mb-1"><a class="link-500" href="/komunitas-drone">List Komunitas Drone</a></li>
                        </ul>
                      </div>
                      <div class="col-6 col-md-12">
                        <h5 class="text-uppercase text-white opacity-85 mb-2">Group Diskusi</h5>
                        <ul class="list-unstyled">
                          <li class="mb-1"><a class="link-500" href="https://web.facebook.com/groups/diskusidrone">Facebook</a></li>
                          <li class="mb-1"><a class="link-500" href="https://t.me/droneindonesia">Telegram</a></li>
                          <li class="mb-1"><a class="link-500" href="https://discord.gg/uFgUQzsqmG">Discord</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of .container-->
    
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
    
  
            <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0 bg-dark light">
  
          <div>
            <hr class="my-0 text-500 opacity-25" />
            <div class="container py-3">
              <div class="row justify-content-between fs--1">
                <div class="col-12 col-sm-auto text-center">
                  <p class="mb-0 text-500 opacity-85"> &copy; 2014 - 2022 <a class="text-white opacity-85" href="https://liupurnomo.com"><b> Liu Purnomo </b></a> <span class="mb-0 text-600 opacity-85"> - all rights reserved</span></p>
                </div>
                <div class="col-12 col-sm-auto text-center"> 
                  <p class="mb-0 text-500 opacity-85">Made with ❤️ using <a class="text-white opacity-85" href="https://gohugo.io/"> Hugo 0.86.0</a></p>
                </div>
              </div>
            </div>
          </div> 
          <!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  
        {{- partial "footer-scripts.html" . -}}