<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ if .IsHome }}
      {{ .Site.Title }}
    {{ else }}
      {{ .Title }} | {{ .Site.Title }}
    {{ end }}
  </title>

  <script async src="https://cdn.ampproject.org/v0.js"></script>


  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/favicons/logo-liu-purnomo.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/favicons/logo-liu-purnomo.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/favicons/logo-liu-purnomo.png">
  <link rel="shortcut icon" type="image/x-icon" href="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/favicons/logo-liu-purnomo.png">
  <meta name="msapplication-TileImage" content="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/favicons/logo-liu-purnomo.png">
  <meta name="theme-color" content="#ffffff">
  <script src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/js/config.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/vendors/overlayscrollbars/OverlayScrollbars.min.js"></script>

  <link href="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/vendors/overlayscrollbars/OverlayScrollbars.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/css/theme.css" rel="stylesheet" id="style-default">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>