<nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark" data-navbar-darken-on-scroll="data-navbar-darken-on-scroll">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}"><img src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/logo-liu-purnomo-light.png" width="auto" height="25" alt="">
      <span style="font-weight: 600; font-size: 22px;" class="text-warning ps-1"> Liu Purnomo</span> </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse scrollbar" id="navbarStandard">
      
        {{- partial "ul-menu.html" . -}}
      
    </div>
  </div>
</nav>

