<ul class="navbar-nav ms-auto">
  <li class="nav-item py-auto">
    <a class="nav-link align-middle" href="/">
      <span class="d-none d-lg-inline-block">Homepage</span>
      <span class="d-lg-none ">Homepage</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/product">
      <span class="d-none d-lg-inline-block">Product</span>
      <span class="d-lg-none">Product</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/event">
      <span class="d-none d-lg-inline-block">Event</span>
      <span class="d-lg-none">Event</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tutorial">
      <span class="d-none d-lg-inline-block">Tutorial</span>
      <span class="d-lg-none">Tutorial</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/lowongan">
      <span class="d-none d-lg-inline-block">Career</span>
      <span class="d-lg-none">Career</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/blog">
      <span class="d-none d-lg-inline-block">Blog</span>
      <span class="d-lg-none">Blog</span>
    </a>
  </li>
  <li class="nav-item"><a class="nav-link" href="">
      <span class="d-none d-lg-inline-block text-600 opacity-75 px-3"> | </span>
      <span class="d-lg-none">
        <hr class="my-0 text-600 opacity-25" /></span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-warning border-2 rounded-pill btn-lg mt-0 fs-0 py-1" href="/contact">
      <span class="d-none d-lg-inline-block"> <i class="bi bi-messenger"></i> Contact</span>
      <span class="d-lg-none ">Contact</span>
    </a>
  </li>
</ul>