<!doctype html>
<html ⚡ lang="id">

  {{- partial "head.html" . -}}
  <body>
    <main class="main" id="top">
      {{- partial "header.html" . -}}

      <div class="col mb-4">
        <hr>
      </div>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="mt-0 mb-0 pt-5 pb-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-md-12 col-lg-8 pb-4">
                  <div class="card">
                    <div class="card-body">
                      <p><b>Liu Purnomo</b> . {{ .Date.Format "04 Jan 2006" }}</p>
                      <h1>{{ .Title }}</h1>
                      <i class="bi bi-tags-fill"></i> Tags 
                        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        <a href="/tags/{{$name}}"><span class="badge badge-soft-info"> # {{$name}} </span></a>
                        {{ end }}
                      <hr>
                      <img class="img-fluid rounded" src="{{ .Site.BaseURL }}/img/{{ .Params.image }}" alt="">
                      <br><br>
                      {{ .Content }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->
    

      {{- partial "footer.html" . -}}
    </main>
  </body>
</html>