<!doctype html>
<html ⚡ lang="id">
    {{- partial "head.html" . -}}
    <body>
        <main class="main" id="top">
        {{- partial "header.html" . -}}

        {{- block "main" . }}{{- end }}
        
        {{- partial "footer.html" . -}}
        </main>
    </body>
</html>
