{{ define "main" }}
  
  {{/*  page title  */}}
  <h1>{{ .Title }}</h1>

  {{/*  menampilkan seluruh content berdasarkan kategory  */}}
  <h2>Latest {{ .Title }}</h2>
    {{ range .Pages }}
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <span>Created at {{ .Date.Format "2006-01-02" }}</span>
      <p>{{ .Description }}</p>
    {{ end }}


{{ end }}