


<!doctype html>
<html ⚡ lang="id">

  {{- partial "head.html" . -}}
  <body>
    <main class="main" id="top">
      {{- partial "header-page.html" . -}}

      <section class="overflow-hidden light" id="banner">
        <div class="bg-holder overlay"
          style="background-image:url(https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/bgs/contur.svg);background-position: center bottom;">
        </div>
        <!--/.bg-holder-->
  
        <div class="container">
          <div class="row flex-center">
            <div class="col-lg-8 text-center">
              <h1 class="text-white fw-bold">Blog<br />
              </h1>
            </div>
            
          </div>
        </div>
        <!-- end of .container-->
      </section>

        <!-- <section> close ============================-->
        <!-- ============================================-->
              <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="pt-0 pb-4">
          <div class="container">
            <div class="row mt-6">
              {{ range .Pages }}
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card card-span h-100">
                    <p class="overlay-content position-absolute pt-2 px-2"><a href="/o"><button class="btn btn-small btn-success">{{ .Params.categories }}</button></a></p>
                    <img class="card-img-top overlay" src="{{ .Site.BaseURL }}/img/{{ .Params.image }}" alt="{{ .Title }}" />
                  <div class="card-body">
                    <h5 class="mb-2"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                    <p>{{ .Description }}... <a href="{{ .Permalink }}">read more<i class="bi bi-arrow-right-short"></i></a> </p>
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
            <div class="row">
              <div class="col">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!-- end of .container-->
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
    
        
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="bg-black light">
  
          <div class="bg-holder overlay"
            style="background-image:url(https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/bgs/hero-footer.svg);background-position: center top; ">
          </div>
          <!--/.bg-holder-->
  
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-lg-8">
                <p class="fs-3 fs-sm-4 text-white">Anda bisa menjual produk, memasang iklan, memasang lowongan pekerjaan dan
                  promosi usaha di <span class="text-warning"><b>Liu Purnomo</b> Blog</span> dengan mudah.</p>
                <button class="btn btn-outline-warning border-2 rounded-pill btn-lg mt-4 fs-0 py-2" type="button">Lakukan
                  Sekarang <i class="bi bi-play"></i></button>
              </div>
            </div>
          </div>
          <!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  

      {{- partial "footer.html" . -}}
    </main>
  </body>
</html>