<!doctype html>
<html ⚡ lang="id">

  {{- partial "head.html" . -}}
  <style>
    p img {
      max-width: 80%;
      height: auto;
      margin-right: 10%;
      margin-left: 10%;
      align-items: center;
    }
  </style>
  <body>
    <main class="main" id="top">
      {{- partial "header.html" . -}}

      <div class="col mb-4">
        <hr>
      </div>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="mt-0 mb-0 pt-5 pb-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-md-12 col-lg-8 pb-4">
                  <div class="card">
                    <div class="card-body">
                      <p><b>Liu Purnomo</b> . {{ .Date.Format "04 Jan 2006" }}</p>
                      <h1>{{ .Title }}</h1>
                      <i class="bi bi-tags-fill"></i> Tags 
                      {{ with .Params.tags }}
                        {{ range . }}
                        <a href="/tags/{{ . | urlize}}"><span class="badge badge-soft-info"> # {{ . }} </span></a>
                        {{ end }}
                      {{ end }}

                      <hr>
                      <img class="img-fluid rounded" src="{{ .Site.BaseURL }}/img/{{ .Params.image }}" alt="">
                      <br><br>
                      {{ .Content }}
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-4 pb-4">
                  <div class="card sticky-sidebar">
                    <div class="card-body">
                      <h4>🔥 Artikel Terbaru</h4>
                      {{ range where .Site.RegularPages "Section" "blog" }}
                      <hr>
                      <h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                      <p><b>Liu Purnomo</b> . {{ .Date.Format "04 Jan 2006" }}</p>
                      {{ end }}
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-8 pb-4">
                  <div class="card">
                    <div class="card-body">
                      <h4>Related Post</h4>
                      <hr>
                      <div class="row mt-2">
                        {{ $related := (where (.Site.RegularPages.Related .) "Type" "blog") | first 6 }}
                        {{ range $related }}
                          {{ $permalink := .Permalink }}
                            <div class="col-lg-4 col-md-6 mb-4">
                              <div>
                                  <img class="card-img" src="{{ .Site.BaseURL }}/img/{{ .Params.image }}" alt="{{ .Title }}" />
                                  <h5 class="mb-2 pt-1"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                              </div>
                            </div>
                        {{ end }}
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-12 col-lg-8 pb-4">
                  <div class="card">
                    <div class="card-body">
                      <div id="disqus_thread"></div>
                        <script>
                            (function() {
                            var d = document, s = d.createElement('script');
                            s.src = 'https://liu-purnomo.disqus.com/embed.js';
                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->
    

      {{- partial "footer.html" . -}}
    </main>
  </body>
</html>