<!doctype html>
<html ⚡ lang="id">

  {{- partial "head.html" . -}}
  <body>
    <main class="main" id="top">
      {{- partial "header-page.html" . -}}

      <section class="py-0 overflow-hidden light" id="banner">
        <div class="bg-holder overlay"
          style="background-image:url(https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/bgs/contur.svg);background-position: center bottom;">
        </div>
        <!--/.bg-holder-->
  
        <div class="container">
          <div class="row flex-center pt-5 pb-lg-9 pb-xl-0">
            <div class="col-lg-8 pb-2 pt-xl-8  text-center">
              <h1 class="text-white fw-light">About<br />
                <span class="typed-text text-warning fw-bold" data-typed-text='["Liu Purnomo"]'></span>
              </h1>
            </div>
            <div class="text-center mt-0 mb-5 mt-xl-0">
              <a href=""><img class="img-fluid" src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/liu-purnomo-rounded.webp" alt="" width="400px"/></a>
            </div>
          </div>
        </div>
        <!-- end of .container-->
  
      </section>

        <!-- ============================================-->

          <div class="container">
            <div class="row justify-content-center mt-4 mb-4">
              <div class="col col-lg-8">
                <div class="card">
                  <div class="card-body">
                    <p class="lead">Jangan salah sangka, meskipun nama Saya Liu, saya bukan orang China, Bapak Dayak, Mamak Melayu, lahir di Kalimantan, Punya nama Liu Purnomo, agak unik memang, namun karena Saya anak yang berbakti, saya tidak pernah protes.
                    </p><p class="lead">
                    Dayak itu suku ya, begitupun melayu, meskipun saya Dayak, karena bapak dayak, Saya Muslim. Dulu Bapak, waktu menikah dengan Almarhum Mamak, Masuk islam, Mualaf. Nenek dari Bapak, Katolik, waktu natal, kami sering natalan ke tempat Nenek.
                    </p><p class="lead">
                    Saya sudah menikah, Istri saya Jawa, dari Banyumas. Alhamdulillah, kami di karunia Puta Putri yang menggemaskan. Saya dan Istri tinggal di Jakarta, Punya KTP DKI, ikut serta dalam pemilihan Gubernur DKI, meski tidak pernah tertarik dengan pembahasan soal Politik, Apalagi kalau sudah bahas soal Kampret Cebong, saya skip.
                    </p><p class="lead">
                    Kalau ditanya soal pekerjaan, Saya seorang Frelance, mengerjakan banyak hal, terutama yang berkaitan dengan Drone. Saya memegan beberapa sertifikat, seperti sertikat Remote Pilot dari DKUPPU, dan sertifikat sebagai Master Instruktur dari BNSP.
                    </p><p class="lead">
                    Selain kesibukan bekerja, Saat ini, Saya juga sedang melanjutkan pendidikan di STMIK Antar Bangsa, Mengambil S1 Teknik Informatika, dan Institut Daarul Qur’an mengambil S1 Ilmu Al-Qur’an dan Tafsir.</p>
                    <hr>
                    <h2 class="text-muted">Sertifikat</h2>
                    <ul class="lead">
                      <li class="lead">Master Instruktur / Trainer – Badan Nasional Sertifikasi Profesi</li>
                      <li class="lead">Remote Pilot Certificate – DKUPPU</li>
                      <li class="lead">Certified Public Speaker Professional – IEEEL Institute</li>
                      <li class="lead">Basic Remote Pilot Course – FASI</li>
                      <li class="lead">Remote Pilot License Course – FASI</li>
                      <li class="lead">Sertifikat Pilot Drone – APDI</li>
                    </ul>
                    <hr>
                    <h2 class="text-muted">Work Experience</h2>
                    <b class="fs-2">Direktur Utama PT Galeri Angkasa Spasial</b>
                    <p>2021 – 2022, Jakarta</p>
                    
                    <b class="fs-2">Direktur CV Galeri Angkasa Sejahtera</b>
                    <p>2017 – 2022, Sekadau</p>
                    
                    <b class="fs-2">Direktur Operasional PT Terra Inti Spasial Indonesia</b>
                    <p>2021, Jakarta</p>
                    
                    <b class="fs-2">Staff GIS di Keling Kumang Group</b>
                    <p>2016 – 2017, Sintang</p>
                    
                    <b class="fs-2">Tenaga Ahli GIS untuk Project Konsorsium Ekonomi Hijau (Kujau Kalbar)</b>
                    <p>2017, Sintang dan Kapuas Hulu</p>
                    
                    <b class="fs-2">Program Officer Database dan Pengembangan WTA di Perkumpulan SAMPAN Kalimantan</b>
                    <p>2015 – 2016, Pontianak</p>
                    
                    <b class="fs-2">Staff IT dan UAV Program Officer di lembaga SAMPAN Kalimantan</b>
                    <p>2013 – 2016, Pontianak</p>

                    <b class="fs-2">Tenaga Pengajar Honorer di SDN Balai Agas Sebagai Wali Kelas IV dan Guru Bidang Study Pendidikan Agama Islam</b>
                    <p>2011 – 2013, Melawi</p>
                    
                    <b class="fs-2">Tenaga Pengajar Honorer di SMP N 5 Satap Belimbing sebagai Guru Bidang Studi Pendidikan Agama Islam dan Teknologi Informasi dan Komunikasi</b>
                    <p>2011 – 2013, Melawi</p>

                    <b class="fs-2">Surveyor Lapangan di CV. Ilham Ahmad Kurnia</b>
                    <p>2011, Melawi</p>

                  </div>
                </div>
                <div class="card mt-4">
                  <div class="card-body">
                    <h2 class="text-muted">Sebagai Pembicara dan Narasumber…</h2>
                    <hr>
                    <h5>Bimbingan Teknis Penggunaan Drone bagi Atasan dan Operator Drone Lingkup KLHK</h5>
                    <p>Pusdiklat SDM, Kementerian Lingkungan Hidup dan Kehutanan, 3 Desember 2021 | Jakarta</p>
                    <br>
                    <h5>Pembahasan Draf Desain Bimbingan Teknis Penggunaan Drone bagi Atasan dan Operator Drone Lingkup KLHK</h5>
                    <p>Pusdiklat SDM, Kementerian Lingkungan Hidup dan Kehutanan, 19 November 2021 | Jakarta </p>
                    <br>
                    <h5>
                    Penyusunan Pedoman Teknis Pengoperasian Pesawat Udara Tanpa Awak Lingkup Kementerian Lingkungan Hidup dan Kehutanan
                    </h5>
                    <p>Pustek LHK, Kementerian Lingkungan Hidup dan Kehutanan, 2021 | Jakarta</p>
                  </div>
                </div>

                <div class="card mt-4">
                  <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/icons/spot-illustrations/corner-4.png);">
                  </div>
                  <div class="card-body position-relative">
                    <div class="row">
                      <div class="col-lg-8">
                        <h2>Instruktur</h2>
                        <p class="mb-0">Sebagai instruktur dan Trainer pada kegiatan pelatihan dan workshop</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mt-4">
                  <div class="card-body">
                    <p class="fs-4 text-end text-warning">2022</p>
                    <hr>
                    {{ range .Pages.ByDate.Reverse }}
                        <h5><a class="text-muted" href="{{ .Permalink }}">{{ .Title }}</a></h5>
                        <p>Penyelenggara {{ .Params.EO }} <br>
                          <i class="bi bi-geo-alt-fill"></i> {{ .Params.tempat }}
                          <br> 
                          <i class="bi bi-calendar-date-fill"></i> {{ .Params.tanggal }}</p>
                        <br>
                    {{ end }}
                  </div>
                </div>

                <div class="card mt-4">
                  <div class="card-body">
                    <p class="fs-4 text-end text-warning">2021</p>
                    <hr>
                    <br>
                    <h5>Sertifikasi Remote Pilot FASI RPL-8 Jakarta</h5>
                    <p>Federasi Aerosport Indonesia, 17 – 19 Desember 2021 | Wisma Aldiron, Jakarta</p>
                    <br>
                    <h5>Sertifikasi Remote Pilot FASI BRP-45 Makassar, Sulsel</h5>
                    <p>Federasi Aerosport Indonesia, 11 – 12 Desember 2021 | Makassar, Sulawesi Selatan</p>
                    <br>
                    <h5>Training Survey Mapping Using Drone</h5>
                    <p>PT Dayamitra Telekomunikasi Tbk (Mitratel), 6 -10 Desember 2021 | Hotel Amaris, Serpong</p>
                    <h5>Trainingclass Bawahtanah Drone For Mapping</h5>
                    <p>Bawahtanah.co.id, 5-7 Desember 2021 | Jakarta</p>
                    <br>
                    <h5>Sertifikasi Remote Pilot FASI BRP-44 Banjarbaru, Kalsel</h5>
                    <p>Federasi Aerosport Indonesia, 4 – 5 Desember 2021 | Banjarbaru, Kalimantan Selatan </p>
                    <br>
                    <h5>Sertifikasi Remote Pilot FASI BRP-43 Pekanbaru, Riau</h5>
                    <p>Federasi Aerosport Indonesia, 20 – 21 November 2021 | Pekanbaru, Riau</p>
                    <br>
                    <h5>Pelatihan Drone Untuk Pemetaan</h5>
                    <p>Dinas Bina Marga dan Sumber Daya Air Bekasi, 16 – 19 November 2021 | Bekasi, Jawa Barat </p>
                    <h5>Sertifikasi Remote Pilot FASI BRP-42 Palembang, Sumsel</h5>
                    <p>Federasi Aerosport Indonesia, 13 – 14 November 2021 | Palembang, Sumatera Selatan</p>
                    <br>
                    <h5>Pelatihan Drone bidang Pertambangan</h5>
                    <p>PT Madhani Talatah Nusantara, 10 – 11 November 2021 | Tanjung Enim, Sumatera Selatan</p>
                    <br>
                    <h5>Trainingclass Bawahtanah Drone For Mapping</h5>
                    <p>Bawahtanah.co.id, 25-28 Oktober 2021 | Jakarta </p>
                    <br>
                    <h5>Pelatihan Drone Untuk Pemetaan</h5>
                    <p>Private Mr. Zakky, 21-24 Oktober 2021 | Semarang, Jawa Tengah</p>
                    <br>
                    <h5>Pelatihan Drone Untuk Pemetaan</h5>
                    <p>PT Redifined Bangka Tin, 21 – 23 Oktober 2021 | Bangka Belitung</p>
                    <br>
                    <h5>Sertifikasi Remote Pilot FASI BRP-38 Tegal</h5>
                    <p>Federasi Aerosport Indonesia, 16-17 Oktober 2021 | Tegal, Jawa Tengah</p>
                    <br>
                    <h5>Sertifikasi Remote Pilot FASI BRP-37</h5>
                    <p>Federasi Aerosport Indonesia, 09-10 Oktober 2021 | Jakarta</p>
                    <br>
                    <h5>Trainingclass Bawahtanah Drone For Mapping</h5>
                    <p>Bawahtanah.co.id, 20-23 September 2021 | Jakarta</p>
                    <br>
                    <h5>Sertifikasi Remote Pilot FASI BRP-36 Kalimantan Timur</h5>
                    <p>Federasi Aerosport Indonesia, 18-19 September 2021 | Balikpapan, Kalimantan Timur</p>
                    <br>
                    <h5>Pelatihan Mapping dan Sertifikasi BRP FASI untuk Pasukan Misi Pemeliharaan Perdamaian TNI yang akan bertugas di Kongo dalam Misi Perdamaian Dunai PBB</h5>
                    <p>Federasi Aerosport Indonesia, 14-16 September 2021 | Jakarta </p>
                    <br>
                    <h5>Sertifikasi Remote Pilot FASI BRP-34</h5>
                    <p>Federasi Aerosport Indonesia, 4-5 September 2021 | Jakarta</p>
                    <br>
                    <h5>Sertifikasi Remote Pilot FASI BRP-33 Purbalingga</h5>
                    <p>Federasi Aerosport Indonesia, 28-29 Agustus 2021 | Purbalingga, Jawa Tengah</p>
                    <br>
                    <h5>Recurrent Sertifikasi Remote Pilot FASI BRP/RPL</h5>
                    <p>Federasi Aerosport Indonesia, 21 Agustus 2021 | Jakarta</p>
                    <br>
                    <h5>Sertifikasi Remote Pilot FASI BRP-31 Banjarbaru</h5>
                    <p>Federasi Aerosport Indonesia, 26-27 Juni 2021 | Banjarbaru, Kalimantan Selatan</p>
                    <br>
                    <h5>Sertifikasi Remote Pilot FASI BRP-30</h5>
                    <p>Federasi Aerosport Indonesia, 19-20 Juni 2021 | Jakarta</p>
                    <br>
                    <h5>Pelatihan Drone bidang Pertambangan</h5>
                    <p>PT Madhani Talatah Nusantara, 10 – 11 April 2021 | Berau, Kalimantan Timur</p>
                    <br>
                    <h5>Pelatihan Drone Untuk Pemetaan dalam rangka mendukung Rehabilitasi Hutan dan Lahan</h5>
                    <p>BPDASHL Jeneberang Saddang, 29-31 Maret 2021 | Tanjung Pinang, Kepualauan Riau</p>
                    <br>
                    <h5>Pelatihan Drone Untuk Pemetaan</h5>
                    <p>PT. Agung Prima Nusantara, 1-3 February 2021 | Sanggau, Kalimantan Barat</p>
                  </div>
                </div>
                <div class="card mt-4">
                  <div class="card-body">
                    <p class="fs-5 text-end text-warning">2020</p>
                    <hr>
                    <h5>Pelatihan Pilot Drone untuk Inspeksi Peralatan Transmisi dan Distribusi </h5>
                    <p>PLN UDPL Padang, 21 – 22 Desember 2020 | Padang, Sumbar</p>
                    <br>
                    <h5>Pelatihan Coding Data Program Ready, Set, Code! 2020</h5>
                    <p>Direktur Jenderal Pendidikan Vokasi Kemendikbud bekerjasama dengan Kementerian Komunikasi dan Informasi, 5 Oktober – 8 November 2020 | Jakarta</p>
                    <br>
                    <h5>Training Pemetaan menggunakan drone dengan Aplikasi Litchi</h5>
                    <p>20 – 27 September 2020 | Jakarta</p>
                    <br>
                    <h5>Pelatihan Programing : HTML, CSS, Javascript Batch Kedua – Program Online Academy digital talent scholarship 2020</h5>
                    <p>Kementerian Komunikasi dan Informasi 11 Juni – 31 Juli 2020 | Jakarta</p>
                    <br>
                    <h5>Pelatihan coding secara daring Modul : Data Batch Pertama, Program Ready, Set, Code! 2020</h5>
                    <p>Dirjen Vokasi Kemendikbud bekerjasama dengan Kemenkominfo dan Progate, 31 Agustus – 2 Oktober 2020 | Jakarta</p>
                    <br>
                    <h5>Pelatihan drone untuk pemetaan bagi Staff Kementerian Lingkungan Hidup dan Kehutanan dibawah Pusat Keteknikan Lingkungan dan Kehutanan, dengan tema “Bimbingan Teknis Penggunaan Drone Untuk Pemetaan”</h5>
                    <p>Kementerian Lingkungan Hidup dan Kehutanan, 9 – 13 Maret 2020 | Puncak</p>
                    <br>
                  </div>
                </div>

                <div class="card mt-4">
                  <div class="card-body">
                    <p class="fs-5 text-end text-warning"> 2019 </p>
                    <hr>
                    <h5>“In House Training Survey Mapping Using Drone” untuk 106 orang perwakilan staff BPDASHL Jeneberang Saddang, KPHL seluruh Sulawesi Selatan, Dinas Kehutanan, dan SMK Kehutanan Makassar</h5>
                    <p>BPDASHL Jeneberang Saddang, Hotel Dalton, 6 – 8 Desember 2019 | Makassar, Sulawesi Selatan</p>
                    <br>
                    <h5>“Bimbingan Teknis Peningkatan Kapasitas Sumber Daya Manusia In House Training Drone Untuk Videografi” untuk Kementerian Kelautan dan Perikanan.</h5>
                    <p>Direktorat Jenderal Penggunaan Ruang Laut, Kementerian Kelautan dan Perikanan, di Hotel Amaris Serpong, pada tanggal 22 – 25 November 2019.</p>
                    <br>
                    <h5>Training Pengoperasian Drone Untuk Pemetaan dan Monitoring Cadangan Karbon Hutan di Provinsi Jambi</h5>
                    <p>Balai Pengendalian Perubahan Iklim Wilayah Sumatera (PPI Wil Sumatera) di hotel Swiss – Bell Jambi, pada tanggal 29 – 31 Oktober 2019.</p>
                    <br>
                    <h5>In House Training Penggunaan Drone untuk Pemetaan dan Dokumentasi / Publikasi</h5>
                    <p>BPDASHL Ketahun, Bengkulu, Hotel Santika Bengkulu, 22 – 24 November 2019.</p>
                    <br>
                    <h5>Training Survey Mapping Using Drone</h5>
                    <p>BPKH Wilayah III Pontianak, Hotel Amaris serpong, 14 – 16 November 2019</p>
                    <br>
                    <h5>Instruktur dalam “Training Survey Mapping Using Drone” yang di ikuti oleh Bidang Sumber Daya Air dan Irigasi PUPR Provinsi NTT, BPBD Murung Raya, Kal-Teng,</h5>
                    <p>Serpong, 3 – 5 Oktober 2019</p>
                    <br>
                    <h5>Instruktur Untuk “Pelatihan Survey Mapping Using Drone” bagi Staff dari Diskominfo Bogor dan Karyawan PT. Total Bangun Persada</h5>
                    <p>Tangerang Selatan, 5 – 7 September 2019</p>
                    <br>
                    <h5>Instruktur dalam “bimbingan teknis penggunaan pesawat udara tanpa awak (PUTA) dalam rangka peningkatan kapasitas staff kegiatan Forest Programme II Sulawesi”</h5>
                    <p>BPDASHL Palu – Poso di Sulawesi Tengah, 5 – 8 Agustus 2019</p>
                    <br>
                    <h5>Instruktur dalam training drone untuk kebencanaan bertema “Pelatihan Teknis Penanganan Darurat Bencana operator peralatan drone”</h5>
                    <p>Badan Penanggulangan Bencana Daerah (BPBD) Kota Wisata Batu, di Jawa Timur, 11 – 15 Maret 2019</p>
                  </div>
                </div>
                
                <div class="card mt-4">
                  <div class="card-body">
                    <p class="fs-5 text-warning text-end">2018 - 2015</p>
                    <hr>
                    <h5>Instruktur dalam training drone untuk pemetaan bertema “Pelatihan Akuisisi Dan Analisis Data Presisi Menggunakan Mesin Terbang Tanpa Awak Untuk Pemetaan Dan Perencanaan Lahan Gambut” yang diadakan oleh Badan Restorasi Gambut dan Pusat Keteknikan Lingkungan Hidup dan Kehutanan</h5>
                    <p>Balai Besar Gunung Gede Pangrango, Cianjur, Jawa Barat,10 – 15 Desember 2018.</p>
                    <br>
                    <h5>Instruktur dalam training drone untuk pemetaan bertema “Peningkatan Kapasitas Sumber Daya Manusia (SDM) dalam penggunaan GPS dan PUTA” yang diadakan oleh Balai Perhutanan Sosial dan Kemitraan Wilayah Sulawesi</h5>
                    <p>Hotel MaxOne Makassar, 4 – 8 Desember 2018.</p>
                    <br>
                    <h5>Instruktur dalam Training “ Drone untuk foto dan videografi “ untuk Direktorat Penggunaan Jasa Laut, Direktorat Jenderal Pengelolaan Ruang Laut, Kementerian Kelautan dan Perikanan Republik Indonesia</h5>
                    <p>Fave Hotel Depok, 27 – 29 September 2018.</p>
                    <br>
                    <h5>Instruktur Bimbingan Teknik Penyusunan rancangan kegiatan dan Evaluasi RHL menggunakan pesawat udara tanpa awak (PUTA) lingkup Ditjen PDASHL Kementerian Lingkungan Hidup dan Kehutanan</h5>
                    <p>Hotel Neo+ Savana, Sentul, Bogor, 27 – 30 Agustus 2018</p>
                    <br>
                    <h5>Instruktur dalam “Training Drone for Mapping” untuk staff Administrasi Wilayah Kota Samarinda</h5>
                    <p>Kantor Walikota Samarinda, Kalimantan Timur pada tanggal 24 – 26 Agustus 2018.</p>
                    <br>
                    <h5>nstruktur dalam ‘Training Survey Mapping Using Drone” Untuk Staff Kantor Dinas Pertanahan Kabupaten Lampung Tengah</h5>
                    <p>Lampung, Tanggal 17 – 19 Agustus 2018</p>
                    <br>
                    <h5>Instruktur dalam “Training Survey Mapping Using Drone” untuk staff PT Ansaf Inti Resource</h5>
                    <p>Samarinda, Tanggal 27 – 29 Juli 2018</p>
                    <br>
                    <h5>Instruktur dalam “Training Survey Mapping Using Drone” untuk Kepala bidang Ketahanan Pangan Dinas Pertanian Kabupaten Serang</h5>
                    <p>Serang, Banten, 23 – 25 Juli 2018</p>
                    <br>
                    <h5>25.Instruktur dalam “Bimbingan Teknis Pengoperasian Wahana Tanpa Awak (Drone) Lingkup Kementerian Lingkungan Hidup dan Kehutanan Angkatan 2” yang diadakan oleh Pusat Keteknikan Kehutanan dan Lingkungan di Balai Besar Taman Nasional Gunung Gede Pangrango</h5>
                    <p>Cianjur 16 – 20 Juli 2018</p>
                    <br>
                    <h5>Instruktur dalam “Training Survey Mapping Using Drone” untuk surveyor di PT. Dinamika Sejahtera Mandiri,</h5>
                    <p>Toba, Sanggau, Kalimantan Barat pda tanggal 10 – 12 Juni 2018</p>
                    <br>
                    <h5>Instruktur dalam “Training Of Trainer Pemetaan Perkebunan Kelapa Sawit Swadaya”</h5>
                    <p>Sekadau, 23 – 25 April 2018</p>
                    <br>
                    <h5>Instruktur dalam Training survey mapping using drone yang diadakan oleh Diorama Training di Amaris de Codefine Kemang</h5>
                    <p>Jakarta Selatan, 27 – 29 Maret 2018</p>
                    <br>
                    <h5>nstruktur dalam “Bimbingan Teknis Pengoperasian Wahana Tanpa Awak (Drone) Lingkup Kementerian Lingkungan Hidup dan Kehutanan” yang diadakan oleh Pusat Keteknikan Kehutanan dan Lingkungan di Balai Besar Taman Nasional Gunung Gede Pangrango</h5>
                    <p>Cianjur, 1 – 5 Maret 2018</p>
                    <br>
                    <h5>Instruktur dalam “Pelatihan Survey Mapping Using Drone” Untuk Kementerian Keuangan di Resort Darmawan</h5>
                    <p>Resort Darmawan, Sentul, Bogor Januari 2018</p>
                    <br>
                    <h5>Trainer dalam “Pelatihan GPS Untuk Pemetaan Wilayah Desa Secara Partisipatif” di 7 Desa di Kecamatan Tempunak Hulu, Kerjasama Keling Kumang Group dan MCA Indonesia</h5>
                    <p>Sintang Agustus – Desember 2017</p>
                    <br>
                    <h5>Trainer dalam “Pelatihan Pemetaan Partisipatif kepada petani sawit mandiri di Kabupaten Sekadau dan Kabupaten Melawi”, Kerjasama Keling Kumang Group dan Solidaridad</h5>
                    <p>Juli 2017</p>
                    <br>
                    <h5>Instruktur dalam Workshop “Training Of Trainer – Geographic Information System (GIS)” yang diadakan oleh Keling Kumang group</h5>
                    <p>Tapang Sambas, 24 – 28 Oktober 2016</p>
                    <br>
                    <h5>rainer dalam kegiatan “Pelatihan Identifikasi Dan Verifikasi Perkebunan Kelapa Sawit Mandiri Menggunakan Wahana Tanpa Awak Di Kalimantan Barat” untuk Dinas Kehutanan dan Perkebunan Kabupaten di Provinsi Kalimantan Barat yang diadakan oleh SAMPAN Kalimantan bekerjasama dengan IDH</h5>
                    <p>Hotel Dangau, Pontianak 14 – 19 September 2016</p>
                    <br>
                    <h5>Trainer dalam pelatihan pemanfaatan WTA untuk 12 orang perwakilan CSO, Pemerintah dan Masyarakat Adat dari Papua yang dilaksanakan oleh SAMPAN Kalimantan</h5>
                    <p>Pontianak, 22 Agustus – 1 Septermber 2016</p>
                    <br>
                    <h5>Trainerdalam“PelatihanPemanfaatanDroneUntukPemetaandanMonitoring kepada Tim Pemetaan Keling Kumang” yang diadakan oleh SAMPAN Kalimantan</h5>
                    <p>Pontianak, 10 – 20 Agustus 2016</p>
                    <br>
                    <h5>Pembicara dalam “Sharing Pengalaman Pemanfaatan Drone” di Fakultas Pertanian Universitas Tanjugpura</h5>
                    <p>Pontianak, 3 – 7 Agustus 2016</p>
                    <br>
                    <h5>Trainer pada “pelatihan pemanfaatan Wahana Tanpa Awak (WTA) untuk videografi bagi masyarakat film dan jurnalis di Kalimantan Barat” yang diadakan oleh SAMPAN Kalimantan atas dukungan The Asia Foundation (TAF) </h5>
                    <p>Pontianak, 4 – 6 Maret 2016</p>
                    <br>
                    <h5>rainer dalam “Pelatihan Pengoperasian Wahana Tanpa Awak (WTA) untuk pemantauan Degradasi dan Deforestasi serta Pemetaan Wilayah” yang diadakan oleh SAMPAN Kalimantan bekerjasama dengan The Asia Foundation(TAF)</h5>
                    <p>Pontianak, Desember 2015</p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <!-- end of .container-->

        <!-- <section> close ============================-->
        <!-- ============================================-->
    
  
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="bg-black light">
  
          <div class="bg-holder overlay"
            style="background-image:url(https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/bgs/hero-footer.svg);background-position: center top; ">
          </div>
          <!--/.bg-holder-->
  
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-lg-8">
                <p class="fs-3 fs-sm-4 text-white">Anda bisa menjual produk, memasang iklan, memasang lowongan pekerjaan dan
                  promosi usaha di <span class="text-warning"><b>Liu Purnomo</b> Blog</span> dengan mudah.</p>
                <button class="btn btn-outline-warning border-2 rounded-pill btn-lg mt-4 fs-0 py-2" type="button">Lakukan
                  Sekarang <i class="bi bi-play"></i></button>
              </div>
            </div>
          </div>
          <!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  

      {{- partial "footer.html" . -}}
      </main>
  </body>
</html>