<!doctype html>
<html ⚡ lang="id">

  {{- partial "head.html" . -}}
  <body>
    <main class="main" id="top">
      {{- partial "header-page.html" . -}}
      
            <h1>{{ .Title }}</h1>
            {{ range .Site.RegularPages }}
              <div>
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                <p>{{ .Date.Format "Jan 2, 2006" }}</p>
                <p>{{ .Description }}</p>
                <img src="{{ .Site.BaseURL }}/img/{{ .Params.image }}" alt="">
              </div>
            {{ end }}

      {{- partial "footer.html" . -}}
      </main>
  </body>
</html>