<!doctype html>
<html ⚡ lang="id">

  {{- partial "head.html" . -}}
  <body>
    <main class="main" id="top">
      {{- partial "header-page.html" . -}}

      <section class="py-0 overflow-hidden light" id="banner">
        <div class="bg-holder overlay"
          style="background-image:url(https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/bgs/contur.svg);background-position: center bottom;">
        </div>
        <!--/.bg-holder-->
  
        <div class="container">
          <div class="row flex-center pt-5 pb-lg-9">
            <div class="col-lg-8 pb-4 pt-6  text-center">
              <h1 class="text-white fw-light">Contact<br />
                <span class="typed-text text-warning fw-bold" data-typed-text='["Liu Purnomo"]'></span>
              </h1>
            </div>
          </div>
        </div>
        <!-- end of .container-->
  
      </section>

      <section class="bg-white">
        <div class="container">
          <div class="row">
            <div class="col-md-6 pb-4 text-center">
              <h4>Address</h4>
              <p><span class="bi bi-geo-alt-fill"></span> Jakarta, Indonesia</p>
              <br>
              <h4>Email</h4>
              <p><span class="bi bi-envelope"></span> <a href="mailto:drone.or.id@gmail.com">drone.or.id@gmail.com</a></p>
              <br>
              <h4>Phone / WA</h4>
              <p><span class="bi bi-whatsapp"></span> <a href="#">0811-31-9191</a></p>
            </div>
            <div class="col-md-6  text-center">
              <h4>Keep in Touch</h4>
              <br>
              <div class="icon-group flex-center">
                <a class="icon-item bg-light text-facebook" href="https://facebook.com/leonsps"><span class="bi bi-facebook"></span></a>
                <a class="icon-item bg-light text-twitter" href="https://twitter.com/liupurnomo"><span class="bi bi-twitter"></span></a>
                <a class="icon-item bg-light text-google-plus" href="#!"><span class="bi bi-google"></span></a>
                <a class="icon-item bg-light text-linkedin" href="https://github.com/liu-purnomo"><span class="bi bi-github"></span></a>
                <a class="icon-item bg-light text-instagram" href="https://www.instagram.com/liupurnomo/"><span class="bi bi-instagram"></span></a>
              </div>
            </div>
          </div>
        </div>

      </section>
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="bg-black light">
  
          <div class="bg-holder overlay"
            style="background-image:url(https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/bgs/hero-footer.svg);background-position: center top; ">
          </div>
          <!--/.bg-holder-->
  
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-lg-8">
                <p class="fs-3 fs-sm-4 text-white">Anda bisa menjual produk, memasang iklan, memasang lowongan pekerjaan dan
                  promosi usaha di <span class="text-warning"><b>Liu Purnomo</b> Blog</span> dengan mudah.</p>
                <button class="btn btn-outline-warning border-2 rounded-pill btn-lg mt-4 fs-0 py-2" type="button">Lakukan
                  Sekarang <i class="bi bi-play"></i></button>
              </div>
            </div>
          </div>
          <!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  

      {{- partial "footer.html" . -}}
      </main>
  </body>
</html>