<!doctype html>
<html ⚡ lang="id">

  {{- partial "head.html" . -}}
  <body>
    <main class="main" id="top">
      {{- partial "header-page.html" . -}}

      <section class="py-0 overflow-hidden light" id="banner">
        <div class="bg-holder overlay"
          style="background-image:url(https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/bgs/contur.svg);background-position: center bottom;">
        </div>
        <!--/.bg-holder-->
  
        <div class="container">
          <div class="row flex-center pt-6">
            <div class="col-md-11 col-lg-8 col-xl-5 pb-md-3 pt-6 text-center text-xl-start">
              <h1 class="text-white fw-light">Belajar <br />
                <span class="typed-text text-warning fw-bold"
                  data-typed-text='["terbang.","mapping.","fotography.","videography."]'></span>
              </h1>
              <p class="lead pt-1 text-white opacity-75">Belajar cara terbang drone, pemetaan, fotography dan videography lengkap dari dasar, tersedia tutorial dengan studi kasus.</p>
              <a class="btn btn-outline-warning border-2 rounded-pill btn-lg mt-4 fs-0 py-2" href="#!">Baca Tutorial<span class="bi bi-play ms-2" data-fa-transform="shrink-6 down-1"></span></a>
              <a class="btn btn-outline-info border-2 rounded-pill btn-lg mt-4 fs-0 py-2 ms-2" href="#!">Tentang Saya<span class="bi bi-person ms-2" data-fa-transform="shrink-6 down-1"></span></a>
            </div>
            <div class="col-xl-7 text-center align-self-end mt-md-0 mt-lg-4">
              <a href=""><img class="img-fluid " src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/liu-purnomo.png" alt="" /></a>
            </div>
          </div>
        </div>
        <!-- end of .container-->
  
      </section>

      <section class="py-3 bg-light shadow-sm">
        <div class="container">
          <div class="row flex-center">
            <div class="col-3 col-sm-auto my-1 my-sm-3 px-card"><img class="landing-cta-img" height="40" src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/logos/dji.png" alt="" /></div>
            <div class="col-3 col-sm-auto my-1 my-sm-3 px-card"><img class="landing-cta-img" height="45" src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/logos/arcgis.png" alt="" /></div>
            <div class="col-3 col-sm-auto my-1 my-sm-3 px-card"><img class="landing-cta-img" height="35" src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/logos/agisoft.png" alt="" /></div>
            <div class="col-3 col-sm-auto my-1 my-sm-3 px-card"><img class="landing-cta-img" height="40" src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/logos/dronedeploy.png" alt="" /></div>
            <div class="col-3 col-sm-auto my-1 my-sm-3 px-card"><img class="landing-cta-img" height="40" src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/logos/pix4dcapture.png" alt="" /></div>
          </div>
        </div>
      </section>

       <section>

        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
              <h1 class="fs-2 fs-sm-4 fs-md-5">Isi blog <b class="text-warning">Liupurnomo</b>.com</h1>
              <p class="lead"> Selamat datang di blog personal <b class="text-warning">liupurnomo</b>.com. Blog ini berisi catatan pembelajaran dan pengalaman saya pribadi. Adapun tiga pembahasan utama di blog ini adalah sebagai berikut</p>
            </div>
          </div>
          <div class="row flex-center mt-8">
            <div class="col-md col-lg-5 col-xl-4 ps-lg-6"><img class="img-fluid px-6 px-md-0" src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/illustrations/reading.png" alt="" /></div>
            <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
              <h5 class="text-danger"><span class="bi bi-command me-2"></span>Aerial</h5>
              <h3>Drone &amp; Aplikasinya</h3>
              <p>Membahas tentang drone dan pengaplikasiannya dalam kehidupan, mulai dari aerial fotography, videography, fotogrammetry dan lain sebagainya. .</p>
            </div>
          </div>
          <div class="row flex-center mt-7">
            <div class="col-md col-lg-5 col-xl-4 pe-lg-6 order-md-2"><img class="img-fluid px-6 px-md-0" src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/illustrations/option.png" alt="" /></div>
            <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
              <h5 class="text-info"> <span class="bi bi-pc-display me-2"></span>Programming</h5>
              <h3>Teknologi Informasi</h3>
              <p><b class="text-warning">Liupurnomo</b>.com juga membahas tentang Teknologi, Programming, Web development, dan Search Engine Optimization.</p>
            </div>
          </div>
          <div class="row flex-center mt-7">
            <div class="col-md col-lg-5 col-xl-4 ps-lg-6"><img class="img-fluid px-6 px-md-0" src="https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/illustrations/select.png" alt="" /></div>
            <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
              <h5 class="text-success"><span class="bi bi-ui-checks-grid me-2"></span>Personal</h5>
              <h3>Daily Activity</h3>
              <p>Ini lebih ke kegiatan atau pendapat pribadi Aaya ya, mungkin tidak menarik bagi Anda, Saya buat untuk tujuan mendokumentasikan aktivitas Saya..</p>
            </div>
          </div>
        </div>
        <!-- end of .container-->
        </section>
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="bg-light text-center">
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col col-lg-8">
                <h1 class="fs-2 fs-sm-4 fs-md-5">Kerjasama yuk</h1>
                <p class="lead"><b class="text-warning">Liupurnomo</b>.com adalah blog yang gampang ditemukan di mesin pencari seperti google, sangat cocok apabila digunakan untuk mempromosikan produk dan jasa. Untuk itu saya menawarkan kepada para pemilik usaha, baik produk maupun jasa drone, untuk bekerja sama.</p>
              </div>
            </div>
            <div class="row mt-6">
              <div class="col-lg-4">
                <div class="card card-span h-100">
                  <div class="card-span-img"><span class="bi bi-calendar-date fs-5 text-info"></span></div>
                  <div class="card-body pt-6 pb-4">
                    <h5 class="mb-2">Promosi Event</h5>
                    <p>Pemilik usaha bisa menyampaikan informasi event yang diselenggarakan oleh perusahaannya.</p>
                    <a href=""><button class="btn btn-outline-info border-2 rounded-pill btn-lg fs-0 py-2 ms-2">Gratis!</button></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mt-6 mt-lg-0">
                <div class="card card-span h-100">
                  <div class="card-span-img"><span class="bi bi-plus-circle fs-5 text-success"></span></div>
                  <div class="card-body pt-6 pb-4">
                    <h5 class="mb-2">Lowongan Pekerjaan</h5>
                    <p>Pemilik Usaha bisa memasang lowongan pekerjaan, atau bisa hire Remote Pilot, silakan melihat daftar Remote Pilot.</p>
                    <a href=""><button class="btn btn-outline-success border-2 rounded-pill btn-lg fs-0 py-2 ms-2">Gratis!</button></a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mt-6 mt-lg-0">
                <div class="card card-span h-100">
                  <div class="card-span-img"><span class="bi bi-minecart-loaded fs-5 text-danger"></span></div>
                  <div class="card-body pt-6 pb-4">
                    <h5 class="mb-2">Jual Produk</h5>
                    <p>Jika Anda punya produk atau jasa, Anda bisa menjual dan mempromosikannya di sini dengan biaya murah</p>
                    <a href=""><button class="btn btn-outline-danger border-2 rounded-pill btn-lg fs-0 py-2 ms-2">Murah Kok</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of .container-->
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
    
  
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="bg-black light">
  
          <div class="bg-holder overlay"
            style="background-image:url(https://cdn.jsdelivr.net/gh/liu-purnomo/assets/img/bgs/hero-footer.svg);background-position: center top; ">
          </div>
          <!--/.bg-holder-->
  
          <div class="container">
            <div class="row justify-content-center text-center">
              <div class="col-lg-8">
                <p class="fs-3 fs-sm-4 text-white">Anda bisa menjual produk, memasang iklan, memasang lowongan pekerjaan dan
                  promosi usaha di <span class="text-warning"><b>Liu</b> Purnomo </span>blog dengan mudah.</p>
                <button class="btn btn-outline-warning border-2 rounded-pill btn-lg mt-4 fs-0 py-2" type="button">Lakukan
                  Sekarang <i class="bi bi-play"></i></button>
              </div>
            </div>
          </div>
          <!-- end of .container-->
  
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->
  

      {{- partial "footer.html" . -}}
      </main>
  </body>
</html>